services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  web:
    build:
      context: ./web
    ports:
      - "3001:3000"
    environment:
      STATS_SOURCE_DIR: /data
    volumes:
      - ./output.json:/output.json:ro

volumes:
  postgres_data:
